body {
  background-color: rgb(210, 234, 226);
  background-position: top;
  background-size: cover;
  padding: 20px;
}

.header {
  text-align: center;
  background-color: rgb(229, 103, 97);
}

.bu {
  background-color: rgb(173, 173, 173);
  border: 1px solid black;
  color: aliceblue;
  border-radius: 25px;
}
.bu2:hover {
  background-color: rgb(242, 203, 9);
  cursor: pointer;
  border: 1px solid black;
}
.box {
  padding: 10px;
  margin: 20px;
  height: 20px;
  width: 20px;
  display: inline;
  background-color: red;
}
.box1 {
  padding: 10px;
  margin: 20px;
  height: 20px;
  width: 20px;
  display: inline;
  background-color: rgb(0, 0, 0);
}
.box2 {
  padding: 10px;
  margin: 20px;
  height: 20px;
  width: 20px;
  display: inline;
  background-color: rgb(255, 255, 255);
}
.coner {
  border: 1px solid rebeccapurple;
  width: 100%;
  position: relative;
}

.b {
  text-align: center;
}

.bu2 {
  width: 100%;
  padding: 20px;
  border: none;
  background-color: black;
  color: aliceblue;
}

.tag {
  position: absolute;
  top: -15px;
  left: -15px;
  background-color: red;
  color: white;
  padding: 5px;
}
